<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>
      Shoppy an Admin Panel Category Flat Bootstrap Responsive Website Template
      | Signup :: w3layouts
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="keywords"
      content="Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
    />
    <script type="application/x-javascript">
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <link
      href='{% static "css1/bootstrap.css" %}'
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <!-- Custom Theme files -->
    <link
      href='{% static "css1/style.css" %}'
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <!--js-->
    <script src='{% static "js1/jquery-2.1.1.min.js" %}'></script>
    <!--icons-css-->
    <link href='{% static "css1/font-awesome.css" %}' rel="stylesheet" />
    <!--Google Fonts-->
    <link
      href="//fonts.googleapis.com/css?family=Carrois+Gothic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="//fonts.googleapis.com/css?family=Work+Sans:400,500,600"
      rel="stylesheet"
      type="text/css"
    />
    <!--//charts-->
  </head>
  <body>
    <!--inner block start here-->
    <div class="signup-page-main">
      <div class="signup-main">
        <div class="signup-head">
          <h1 style="color: brown">Sign Up</h1>
        </div>
        <div class="signup-block">
          <form
            action="{% url 'seller_register' %}"
            method="post"
            enctype="multipart/form-data"
          >
            {% csrf_token %} {{msg}}
            <input
              type="text"
              name="shop_name"
              placeholder="Shop Name"
              required=""
            />
            <input
              type="text"
              name="name"
              placeholder="Seller Name"
              required=""
            />
            <input type="text" name="email" placeholder="Email" required="" />
            <input
              type="password"
              name="password"
              class="lock"
              placeholder="Password"
              required=""
            />
            <input
              type="password"
              name="cpassword"
              class="lock"
              placeholder="Confirm Password"
              required=""
            />
            <input
              type="text"
              name="gst_no"
              placeholder="GST No."
              required=""
            />
            <div class="forgot-top-grids">
              {% comment %}
              <div class="forgot-grid">
                <ul>
                  <li>
                    <input type="checkbox" id="brand1" value="" />
                    <label for="brand1"
                      ><span></span>I agree to the terms</label
                    >
                  </li>
                </ul>
              </div>
              {% endcomment %}

              <div class="clearfix"></div>
            </div>
            <input type="submit" {{disabled}} name="Sign In" value="Sign up" />
          </form>
          <div class="sign-down">
            <h4>
              Already have an account?
              <a href="{% url 'seller_login' %}"> Login here.</a>
            </h4>
            <h5><a href="{% url 'seller_index' %}">Go Back to Home</a></h5>
          </div>
        </div>
      </div>
    </div>
    <!--inner block end here-->
    <!--copy rights start here-->
    <div class="copyrights">
      <p>
        © 2016 Go-seller. All Rights Reserved | Design by
        <a href="{% url 'index' %}" target="_blank">Go-Big Store</a>
      </p>
    </div>
    <!--COPY rights end here-->
    <!--scrolling js-->
    <script src='{% static "js1/jquery.nicescroll.js" %}'></script>
    <script src='{% static "js1/scripts.js" %}'></script>
    <!--//scrolling js-->
    <script src='{% static "js1/bootstrap.js" %}'></script>
    <!-- mother grid end here-->
  </body>
</html>
