{%load static%}
<!DOCTYPE html>
<html>
<head>
<title>Big store a Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template| Home :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta property="og:title" content="Vide" />
<meta name="keywords" content="Big store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href='{% static "css/bootstrap.css" %}' rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href='{% static "css/style.css" %}' rel='stylesheet' type='text/css' />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<!-- js -->
   <script src='{% static "js/jquery-1.11.1.min.js" %}'></script>
<!-- //js -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src='{% static "js/move-top.js" %}'></script>
<script type="text/javascript" src='{% static "js/easing.js" %}'></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<link href='{% static "css/font-awesome.css" %}' rel="stylesheet"> 
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
<!--- start-rate---->
<script src='{% static "js/jstarbox.js" %}'></script>
	<link rel="stylesheet" href='{% static "css/jstarbox.css" %}' type="text/css" media="screen" charset="utf-8" />
		<script type="text/javascript">
			jQuery(function() {
			jQuery('.starbox').each(function() {
				var starbox = jQuery(this);
					starbox.starbox({
					average: starbox.attr('data-start-value'),
					changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
					ghosting: starbox.hasClass('ghosting'),
					autoUpdateAverage: starbox.hasClass('autoupdate'),
					buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
					stars: starbox.attr('data-star-count') || 5
					}).bind('starbox-value-changed', function(event, value) {
					if(starbox.hasClass('random')) {
					var val = Math.random();
					starbox.next().text(' '+val);
					return val;
					} 
				})
			});
		});
		</script>
<!---//End-rate---->

</head>
<body>
<a href='{% url "offer" %}'><img src='{% static "images/download.png" %}' class="img-head" alt=""></a>
 
<!-- <Header> -->
	{% include "header.html" %}
<!-- </Header> -->
  <!---->
<div data-vide-bg='{% static "video/video.gif"%}'>
    <div class="container">
		<div class="banner-info">
			<h3>It is a long established fact that a reader will be distracted by 
			the readable </h3>	
			<div class="search-form">
				<form action="#" method="post">
					<input type="text" placeholder="Search..." name="Search...">
					<input type="submit" value=" " >
				</form>
			</div>		
		</div>	
    </div>
</div>
    <script>window.jQuery || document.write("<script src='js/vendor/jquery-1.11.1.min.js'>")</script></>
    <script src='{% static "js/jquery.vide.min.js" %}'></script>

<div class="content-mid">
	<div class="container">
		
		<div class="col-md-4 m-w3ls">
			<div class="col-md1 ">
				<a href='{% url "kitchen" %}'>
					<img src='{% static "images/co1.jpg" %}' class="img-responsive img" alt="">
					<div class="big-sa">
						<h6>New Collections</h6>
						<h3>Season<span>ing </span></h3>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority </p>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-4 m-w3ls1">
			<div class="col-md ">
				<a href='{% url "hold" %}'>
					<img src='{% static "images/co.jpg" %}' class="img-responsive img" alt="">
					<div class="big-sale">
						<div class="big-sale1">
							<h3>Big <span>Sale</span></h3>
							<p>It is a long established fact that a reader </p>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-4 m-w3ls">
			<div class="col-md2 ">
				<a href='{% url "kitchen" %}'>
					<img src='{% static "images/co2.jpg" %}' class="img-responsive img1" alt="">
					<div class="big-sale2">
						<h3>Cooking <span>Oil</span></h3>
						<p>It is a long established fact that a reader </p>		
					</div>
				</a>
			</div>
			<div class="col-md3 ">
				<a href='{% url "hold" %}'>
					<img src='{% static "images/co3.jpg" %}' class="img-responsive img1" alt="">
					<div class="big-sale3">
						<h3>Vegeta<span>bles</span></h3>
						<p>It is a long established fact that a reader </p>
					</div>
				</a>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="product">
		<div class="container">
			<div class="spec ">
				<h3>Special Offers</h3>
				<div class="ser-t">
					<b></b>
					<span><i></i></span>
					<b class="line"></b>
				</div>
			</div>
				<div class=" con-w3l">
					{% for i in products  %}
							<div class="col-md-3 pro-1">
								<div class="col-m">
								<a href="#" data-toggle="modal" data-target="#myModal17" class="offer-img">
										<img src='{{i.product_pic.url}}' class="img-responsive" style='max-height:100px;max-width:100px' alt="">
									</a>
									<div class="mid-1">
										<div class="women">
											<h6><a href='{% url "single" %}'>{{i.product_name}}</a></h6>							
										</div>
										<div class="mid-2">
											<p ><em class="item_price">Rs. {{i.price}}</em></p>
											  <div class="block">
												<div class="starbox small ghosting"> </div>
											</div>
											<div class="clearfix"></div>
										</div>
											<div class="add add-2">
												{% if i.product_stock > 0 %}
												<button class="btn btn-danger btn-hidden my-cart-btn my-cart-b" onclick = 'add_to_cart({{i.id}})'>Add to Cart</button>
												{% else %}
												<button class="btn btn-hidden my-cart-btn " disabled>Out of Stock</button>
												{% endif %}
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
							
							
							<div class="clearfix"></div>
						 </div>
		</div>
	</div>	
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
		  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		  <li data-target="#myCarousel" data-slide-to="1"></li>
		  <li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
		  <div class="item active">
		   <a href='{% url "kitchen" %}'> <img class="first-slide" src='{% static "images/ba.jpg" %}' alt="First slide"></a>
		 
		  </div>
		  <div class="item">
		   <a href='{% url "care" %}'> <img class="second-slide " src='{% static "images/ba1.jpg" %}' alt="Second slide"></a>
		   
		  </div>
		  <div class="item">
			<a href='{% url "hold" %}'><img class="third-slide " src='{% static "images/ba2.jpg" %}' alt="Third slide"></a>
			
		  </div>
		</div>
	  
	  </div>
</div>
<!--content-->
<!--content-->

  <!-- Carousel
    ================================================== -->
   <!-- /.carousel -->


<!--footer-->
{% include "footer.html" %}
<!-- //footer-->
  
  
</body>
<script>
	function add_to_cart(pid){
		let data ={
			id : pid
		}
		$.ajax({
			data: data,
			url : {% url 'add_to_cart' %},
			method: "GET",
			success:function(response){
				alert(response.msg)
			}
		})
	}
</script>
</html>